<div class="h-screen bg-gray-400 flex flex-col justify-center items-center w-screen">
  <form class="w-2/3">
    <div class="bg-gray-900  px-10 py-8 rounded-xl w-full shadow-md" *ngIf="listProducts">

      <h1 class="text-center text-2xl font-semibold text-gray-400">Nueva Entrada</h1>
      <div>
        <label for="name" class="block mb-1 text-gray-400 font-semibold">Ref. Partida</label>
        <input type="text" class="bg-gray-200 px-4 py-2 outline-none rounded-md w-full" />
      </div>
      <div class="flex flex-row gap-2 w-full justify-center ">
        <button *ngFor="let btnproduc of listProducts" type="text"
          class="mt-4 w-12 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide ">{{btnproduc.code}}</button>
      </div>

     
          <label for="select" class="block mb-1  text-gray-400 font-semibold">VARIEDAD</label>
          <select name="select" class="bg-gray-200 ml-2 outline-none rounded-md">
            <option value="value1"></option>
          </select>

          <button type="submit" required="require" class="w-10 ml-2 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide
                    hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms]
                    transition-[color,box-shadow] hover:text-teal-500">+</button>

          <div class="flex mt-3 mb-3">
            <label for="select" class="block mb-1  text-gray-400 font-semibold">PROVEEDOR</label>
            <select name="select" class="bg-gray-200 ml-2 outline-none rounded-md"></select>
            <button type="submit" required="require" class="w-10 ml-2 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide
                    hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms]
                    transition-[color,box-shadow] hover:text-teal-500">+</button>
          </div>
          
          <div  *ngFor="let btnproduc of listProducts">
            <input type="radio" name="option" id="4" class="peer hidden bg-gray-200 px-4 py-2 outline-none rounded-md w-full" />
            <label
              for="4"
              class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-blue-500 peer-checked:font-bold peer-checked:text-white"
              >{{btnproduc.code}}</label>
          </div>


      <button type="submit" required="require" class="mt-4 w-full bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide
        hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms]
        transition-[color,box-shadow] hover:text-teal-500">
        ENTRAR</button>

    </div>
  </form>
</div>
    