<div>
  <form [formGroup]="addForm" (submit)="addContent($event)" class="item">
    <!-- CATALOGUE -->
    <div
      *ngIf="formToPrint === 'catalogue'"
      class="flex flex-col bg-gray-900 p-10 m-10 rounded-xl"
    >
      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold"> TÍTULO</label>
        <input class="w-full" type="text" formControlName="title" />
      </div>

      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold"> IMAGEN </label>
        <input class="w-full" type="text" formControlName="image" />
      </div>

      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold"> PRODUCTO </label>
        <input class="w-full" type="text" formControlName="producto" />
      </div>

      <div class="flex py-4">
        <button
          type="submit"
          class="ml-2 p-10 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500"
        >
          AÑADIR
        </button>
        <button
          type="button"
          class="ml-2 p-6 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500"
        >
          CANCELAR
        </button>
      </div>
    </div>

    <!-- USERS -->
    <div
      *ngIf="formToPrint === 'users'"
      class="flex flex-col bg-gray-900 p-10 m-10 rounded-xl"
    >
      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold">NOMBRE</label>
        <input class="w-full" type="text" formControlName="userName" />
      </div>

      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold">PASSWORD</label>
        <input class="w-full" type="text" formControlName="password" />
      </div>

      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold">WAREHOUSE</label>
        <input class="w-full" type="text" formControlName="warehouse" />
      </div>

      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold">ROL</label>
        <select class="w-full" type="text" formControlName="rol">
          <option value="admin">Administrador</option>
          <option value="user">Usuario</option>
          <option value="reader">Visitante</option>
        </select>
      </div>

      <div class="flex py-4">
        <button
          type="submit"
          class="ml-2 p-10 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500"
        >
          AÑADIR
        </button>
        <button
          type="button"
          class="ml-2 p-6 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500"
        >
          CANCELAR
        </button>
      </div>
    </div>

    <!-- PRODUCTS -->
    <div
      *ngIf="formToPrint === 'products'"
      class="flex flex-col bg-gray-900 p-10 m-10 rounded-xl"
    >
      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold">NOMBRE</label>
        <input class="w-full" type="text" formControlName="name" />
      </div>

      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold">CODE</label>
        <input class="w-full" type="text" formControlName="code" />
      </div>

      <div class="flex py-4">
        <button
          type="submit"
          class="ml-2 p-10 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500"
        >
          AÑADIR
        </button>
        <button
          type="button"
          class="ml-2 p-6 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500"
        >
          CANCELAR
        </button>
      </div>
    </div>

    <!-- PROVIDERS -->
    <div
      *ngIf="formToPrint === 'providers'"
      class="flex flex-col bg-gray-900 p-10 m-10 rounded-xl">

      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold">NOMBRE</label>
        <input class="w-full" type="text" formControlName="name" />
      </div>

      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold">CODE</label>
        <input class="w-full" type="text" formControlName="code" />
      </div>

      <div class="flex py-4">
        <button
          type="submit"
          class="ml-2 p-10 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500">
          AÑADIR
        </button>
        <button
          type="button"
          class="ml-2 p-6 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500">
          CANCELAR
        </button>
      </div>
    </div>

    <!-- VARIETY -->
    <div
      *ngIf="formToPrint === 'varieties'"
      class="flex flex-col bg-gray-900 p-10 m-10 rounded-xl">
      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold">NOMBRE</label>
        <input class="w-full" type="text" formControlName="name" />
      </div>

      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold">REFERENCIA</label>
        <input class="w-full" type="text" formControlName="productRef" />
      </div>

      <div class="flex py-4">
        <button
          type="submit"
          class="ml-2 p-10 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500">
          AÑADIR
        </button>
        <button
          type="button"
          class="ml-2 p-6 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500">
          CANCELAR
        </button>
      </div>
    </div>

    <!-- WAREHOUSE -->
    <div
      *ngIf="formToPrint === 'warehouse'"
      class="flex flex-col bg-gray-900 p-10 m-10 rounded-xl">

      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold">NOMBRE</label>
        <input class="w-full" type="text" formControlName="name" />
      </div>


      <div class="flex mb-8">
        <label class="pr-6 text-gray-400 font-semibold">CÓDIGO</label>
        <input class="w-full" type="text" formControlName="code" />
      </div>


      <div class="flex py-4">
        <button
          type="submit"
          class="ml-2 p-10 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500">
          AÑADIR
        </button>
        <button
          type="button"
          class="ml-2 p-6 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500">
          CANCELAR
        </button>
      </div>
    </div>

  </form>
</div>
