
<div class="flex py-4">
  <button
    type="submit"
    class="ml-2 p-10 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500"
    routerLink="/form/catalogue"
    >
    AÑADIR
  </button>
  <button
    type="button"
    class="ml-2 p-6 bg-teal-500 text-gray-900 py-2 font-bold rounded-md text-lg tracking-wide hover:shadow-[inset_20rem_0_0_0] hover:shadow-gray-500 duration-[400ms,700ms] transition-[color,box-shadow] hover:text-teal-500"
    routerLink="/catalogue"
  >
    CANCELAR
  </button>

</div>

<!-- Snippet -->
<section class="pb-96 flex text-gray-600 min-h-screen h-full p-4 mb-28">
  <div class="flex flex-wrap justify-between mb-60">
    <!-- Card -->
    <div class="shadow-md max-w-s h-80 w-60 mx-2 mb-3" *ngIf="listDefects">
      <div
        class="flex mb-7 flex-col h-full bg-white shadow-lg rounded-lg overflow-hidden"
        *ngFor="let defect of listDefects"
      >
        <!-- Image -->
        <a class="block focus:outline-none focus-visible:ring-2" href="#0">
          <figure class="relative h-0 pb-[56.25%] overflow-hidden">
            <img
              class="absolute inset-0 w-full h-full object-cover transform hover:scale-105 transition duration-700 ease-out"
              src="{{ defect.image }}"
              width="180"
              height="180"
              alt="image"
            />
          </figure>
        </a>
        <!-- Card Content -->
        <div class="flex-grow flex flex-col p-5">
          <!-- Card body -->
          <div class="flex-grow">
            <!-- Header -->
            <header class="mb-3">
              <a
                class="block focus:outline-none focus-visible:ring-2"
                href="#0"
              >
                <h3
                  class="text-[22px] text-gray-900 font-extrabold leading-snug"
                >
                  {{ defect.title }}
                </h3>
              </a>
            </header>
            <!-- Content -->
            <div class="mb-8">
              <p>{{ defect.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
