<!-- Snippet -->
<section class="flex bg-gray-50 text-gray-600 min-h-screen p-4" style="background-color: #878787;">
  <div class="flex flex-wrap justify-between  ">

    <!-- Card -->
 <div class="max-w-xs h-80 mx-2 mb-3" *ngIf="listDefects">
  <div class="flex flex-col h-full bg-white shadow-lg rounded-lg overflow-hidden" *ngFor="let defect of listDefects">
      <!-- Image -->
      <a class="block focus:outline-none focus-visible:ring-2" href="#0">
          <figure class="relative h-0 pb-[56.25%] overflow-hidden">
              <img class="absolute inset-0 w-full h-full object-cover transform hover:scale-105 transition duration-700 ease-out" src={{defect.image}} width="180" height="180" alt="image">
          </figure>
      </a>
      <!-- Card Content -->
      <div class="flex-grow flex flex-col p-5">
          <!-- Card body -->
          <div class="flex-grow">
              <!-- Header -->
              <header class="mb-3">
                  <a class="block focus:outline-none focus-visible:ring-2" href="#0">
                      <h3 class="text-[22px] text-gray-900 font-extrabold leading-snug">{{defect.title}}</h3>
                  </a>
              </header>
              <!-- Content -->
              <div class="mb-8">
                  <p>{{defect.description}}</p>
              </div>
          </div>
      </div>
  </div>
</div>

</div>
</section>


